<meta name="clipboard-write" content="true">

<h1><%= @invoice.name %></h1>

<p><%= @invoice.description %></p>

<h2>Invoice Items:</h2>
<% @invoice.invoice_item.each do |invoice_item| %>
  <p>
    <strong>itemName:</strong>
    <%= invoice_item.itemName %>
  </p>

  <p>
  <%= link_to "Destroy Item", [invoice_item.invoice, invoice_item],
      data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
      } %>
  </p>
<% end %>

<h2>Add an item:</h2>
<%= form_with model: [ @invoice, @invoice.invoice_item.build ] do |form| %>
  <p>
    <%= form.label :itemName %><br>
    <%= form.text_field :itemName %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<ul>
<li><%= link_to "Edit", edit_invoice_path(@invoice) %></li>
<br>
<li><%= link_to "Destroy", invoice_path(@invoice), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>Share your invoice</h2>

<li><%= link_to "Share", sharetoken_path(@invoice.token), id: "share-link" %></li>

<script>
  // Get the share link element
  const shareLink = document.getElementById("share-link");

  // Add a click event listener to the share link
  shareLink.addEventListener("click", (event) => {

    // Prevent the default link behavior
    event.preventDefault();

    // Get the share URL
    const shareUrl = shareLink.href;

    // Copy the share URL to the clipboard
    const tempInput = document.createElement("input");
    tempInput.setAttribute("value", shareUrl);
    document.body.appendChild(tempInput);
    tempInput.select();
    document.execCommand("copy");
    document.body.removeChild(tempInput);

    // Copy the current URL to the clipboard
    const currentUrl = window.location.href;

    navigator.clipboard.writeText(currentUrl).then(() => {
      // Display a popup message
      alert("URL copied to clipboard");
     }).catch((error) => {
      console.error("Failed to copy: ", error);
    });

  });
  
</script>
